<nav>
    <div id="title"><img src="/images/RODIC-LOGO.png" alt=""></div>
    <div id="menu">
        <a href="#">Weather</a>
        <a href="/">Home</a>
        <a href="/project/community-engagement">Projects</a>
        <% if (locals.user) { %>
            <a href="/"><%=user.username%></a>
            <a href="/users/sign-out">LOGOUT</a>
        <% } else { %>
            <a href="/users/sign-in">Login</a>
        <% } %>
    </div>
</nav>