/* Reset some default styling */
body, p {
  margin: 0;
  padding: 0;
}

/* General styling */
#new-project-container {
  max-width: 500px;
  margin: 1.5rem auto;
  padding: 20px; // Reduce padding for better spacing on small screens
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  label {
      display: block;
      font-weight: bold;
      margin-top: 10px; // Adjust margin for better spacing on small screens
  }

  input[type="text"],
  input[type="number"],
  textarea,
  input[type="file"] {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }

  textarea {
      resize: vertical;
  }

  button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
          background-color: #0056b3;
      }
  }
}

@media (max-width: 768px) {
  #new-project-container {
      max-width: 90%; // Adjust max-width for better responsiveness
      padding: 20px; // Keep padding consistent
  }
  
  form {
      label {
          margin-top: 8px; // Adjust margin for better spacing on small screens
      }

      input[type="text"],
      input[type="number"],
      textarea,
      input[type="file"] {
          padding: 8px; // Adjust padding for smaller screens
      }

      button[type="submit"] {
          font-size: 14px; // Adjust font size for smaller screens
          padding: 8px 16px; // Adjust padding for smaller screens
      }
  }
}
