/* Reset some default styling */
body, p {
    margin: 0;
    padding: 0;
  }
  
  /* General styling */
  #comment-container {
    max-width: 600px;
    margin: 1.5rem auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  
    #new-comment-form {
      margin-bottom: 20px;
  
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        margin-bottom: 5px;
      }
  
      input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 5px 15px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    #comment-list {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 10px;
          margin: 10px 0;
  
          a.destroy-comments {
            float: right;
            color: #cc0000;
            text-decoration: none;
            transition: color 0.3s ease;
  
            &:hover {
              color: #990000;
            }
          }
  
          p {
            margin: 0;
  
            small {
              color: #888;
            }
          }
        }
      }
    }
  }
  